* {
  margin: 0;
  padding: 0;
  border: none;
}

#gameDisplay {
  height: 880px;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-style: outset;
  border: 10px solid #878681;
  /* background-color: black;*/
  justify-content: center;
}

#section1 {
  border: 1px solid black;
  height: 40px;
  width: 340px;
  display: grid;
  grid-auto-flow: column;
  margin-left: 20px;
  justify-content: center;
  align-content: center;
}

#player1Div {
  display: grid;
  grid-auto-flow: column;
  border: 1px solid black;
  width: 180px;
  height: 40px;
}

#player1Marker {
  display: grid;
  align-content: center;
  justify-content: center;
  font-family: 'Londrina Outline', cursive;

  height: 40px;
  width: 40px;
}

#player1Input {
  font-family: 'Londrina Outline', cursive;
  border: 1px solid black;
  text-align: right;

}

#player2Div {
  display: grid;
  grid-auto-flow: column;
  border: 1px solid blue;
  width: 180px;
  height: 40px;
}

#player2Marker {
  display: grid;
  align-content: center;
  justify-content: center;

  height: 40px;
  width: 40px;
}

#player2Input {
  font-family: 'Londrina Outline', cursive;
  border: 1px solid blue;
  text-align: left;
}

button {
  background-color: black;
  border: 10px solid #878681;
  background-image: url(./power\ \(1\).svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
  width: 240px;
  border-radius: 100%;
  margin-top: 315px;
  margin-left: 70px;

}

::placeholder {
  color: black;
}

#section2 {
  margin-top: 20px;
  border-top: 5px solid #878681;
  height: 240px;
  width: 380px;
  display: grid;
  justify-content: center;
  grid-template-rows: 80px 80px 80px;
  grid-template-columns: 80px 80px 80px;
}

.gameSquare {
  height: 80px;
  width: 80px;
  color: #FF3131;

}

#a1 {

  border-left: 1px dotted black;
  border-right: 1px dotted black;
}

#a2 {}

#a3 {

  border-left: 1px dotted black;
  border-right: 1px dotted black;
}

#a4 {

  border-left: 1px dotted black;
  border-right: 1px dotted black;
  position: relative;
}

#a4:before {
  content: '';
  width: 381px;
  position: absolute;
  border-top: 2px solid #dbe4eb;
  right: -230px;
}

#a5 {}


#a6 {

  border-left: 1px dotted black;
  border-right: 1px dotted black;
}



#a7 {
  border-left: 1px dotted black;
  border-right: 1px dotted black;

  position: relative;
}

#a7:after {
  content: '';
  width: 381px;
  position: absolute;
  border-top: 2px solid #dbe4eb;
  right: -230px;

}

#a8 {}

#a9 {
  border-left: 1px dotted black;
  border-right: 1px dotted black;
}

/*
TURN BACK ON RESTART AUTO
MINIMALISM  
*/
